<!DOCTYPE html>
<html lang="en" >
<footer data-th-fragment="footerFragment" class="page-footer">
    <div class="footer-copyright">
        <div class="container-fluid text-center text-info">
            <p>
                <strong>

                    <a href="#" target="_blank">
                        &copy; &nbsp;<span id="currentYear"></span> &nbsp;  W i s d o m &nbsp I n s t i t u t e - R u w a n w e l l a
                    </a>

                </strong>
            </p>
        </div>
    </div>
</footer>
