.border-left-primary {
    border-left: 0.75rem solid rgb(235, 235, 235) !important;
}

.shadow {
    box-shadow: 0 0.25rem 1.85rem 0 rgb(58 59 69 / 15%) !important;
}

.shadow :hover {
    box-shadow: 0 0.65rem 2rem 0 rgb(58 59 69 / 15%) !important;
}

.border-left-primary :hover {
    background: #bbcbf0;
    transition: background-color 1000ms linear;
    cursor: pointer;
}

.text-gray-800 {
    color: rgb(25, 26, 35) !important;
}

.text-primary {
    color: rgb(23, 45, 111) !important;
}

#loginPage {
 /*  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
}

body {
    background: rgb(235, 235, 235);
    background: radial-gradient(circle, rgba(235, 235, 235, 0.16290266106442575) 58%, rgba(235, 235, 235, 1) 100%);
}

#navBarLogo {
    border: 2px solid #fff;
    box-shadow: 5px 5px 3px #112b69 ;
    border-radius: 5px;
    width: 80%
}

.dropdown-menu {
    padding: 1rem 0;
    background-color: #bbcbf0;

}

.dropdown-item {
    padding: 0.6rem ;
    font-weight: 500;
    text-align: left;
}
.dropdown-toggle{
    border: 2px solid #fff;
    box-shadow: 3px 3px 2px #ccc;
    border-radius: 5px;
    margin-left: 5px;
}
.dropdown-toggle:hover{
    background: #bbcbf0;
    transition: background-color 1500ms linear;
    cursor: pointer;
}
