<!DOCTYPE html>
<html lang="en" >
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Wisdom Educational Institute</title >
</head >
<body >
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container" >
  <div class="row text-center" >
    <div class="col-4" >
      <a href="/batch" data-sec-authorize="hasAnyAuthority('ROLE_MANAGER','ROLE_CASHIER','ROLE_SECTION_HEAD')">
        <button class="btn btn-primary" align="center" >All Class</button >
      </a >
    </div >
    <div class="col-4" >
      <h1 >Class Details</h1 >
    </div >
    <div class="col-4" data-sec-authorize="hasAnyAuthority('ROLE_MANAGER','ROLE_CASHIER','ROLE_SECTION_HEAD')">
      <a href="/batch/add" >
        <button class="btn btn-primary" align="center" >Add Class</button >
      </a >
    </div >
  </div >
</div >

<div class="container" style="background-color:#d0cdce;" data-th-fragment="batchDetailsFragment" >
  <div class="row " >
    <div class="col-6" >
      <div class="form-group" >
        <label data-th-for="${code}" class="col-sm-6 control-label" >Class Reference</label >
        <div class="" >
          <p type="text" id="code" class="form-control" data-th-text="${batchDetail.code}" >
        </div >
      </div >
      <div class="form-group" >
        <label data-th-for="${'name'}" class="col-sm-3 control-label" >Class name</label >
        <div class="" >
          <p type="text" id="name" class="form-control" data-th-text="${batchDetail.name}" >
        </div >
      </div >
    </div >
    <div class="col-6" >
      <div class="form-group" >
        <label data-th-for="${grade}" class="col-sm-3 control-label" >Class Fee</label >
        <div class="" >
          <p type="text" id="grade" class="form-control" data-th-text="${batchDetail.courseFee}" >
        </div >
      </div >
      <div class="form-group" >
        <label data-th-for="${teacherName}" class="col-sm-3 control-label" >Instructor</label >
        <div class="" >
          <p type="text" id="teacherName" class="form-control" data-th-text="${batchDetail.employee.name}" >
        </div >
      </div >
    </div >
  </div >
  <div class="row" >
    <div class="col-6" >
      <!--classDay-->
      <div class="form-group" >
        <div class="row" >
          <div class="col-6" >
            <div class="form-group" >
              <label for="startAt1" >FROM :</label >
              <p type="text" id="startAt1" class="form-control" data-th-text="${batchDetail.startAt}" ></p >
            </div >
          </div >
          <div class="col-6" >
            <div class="form-group" >
              <label for="endAt1" >TO :</label >
              <p type="text" id="endAt1" class="form-control" data-th-text="${batchDetail.endAt}" ></p >
            </div >
          </div >
        </div >
      </div >
    </div >
    <div class="col-6" >
      <div class="row" >
        <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
           aria-expanded="false" aria-controls="multiCollapseExample1" >Instalment Detail</a >
        <a class="btn btn-primary ml-2" data-toggle="collapse" href="#multiCollapseExample2" role="button"
           aria-expanded="false" aria-controls="multiCollapseExample2" >Subject Detail</a >
      </div >
      <div class="row" >
        <div class="col" >
          <div class="collapse multi-collapse" id="multiCollapseExample1" >
            <div class="card card-body" >
              <table class="table table-striped table-inverse " >
                <thead class="thead-inverse" >
                <tr >
                  <th >Index</th >
                  <th >Date</th >
                  <th >Amount</th >
                </tr >
                </thead >
                <tbody >
                <tr data-th-each="instalment, rowIndex : ${batchDetail.instalmentDates }" >
                  <td data-th-text="${rowIndex.count}" ></td >
                  <td data-th-text="${{instalment.date}}" ></td >
                  <td data-th-text="${instalment.amount}" ></td >
                </tr >
                </tbody >
              </table >
            </div >
          </div >
        </div >
      </div >
      <div class="row" >
        <!--subject detail-->
        <div class="col" >
          <div class="collapse multi-collapse" id="multiCollapseExample2" >
            <div class="card card-body" >
              <table class="table table-striped table-inverse " >
                <thead class="thead-inverse" >
                <tr >
                  <th >Index</th >
                  <th >Code</th >
                  <th >Subject Name</th >
                </tr >
                </thead >
                <tbody >
                <tr data-th-each="subject, rowIndex : ${batchDetail.subjects }" >
                  <td data-th-text="${rowIndex.count}" ></td >
                  <td data-th-text="${subject.code}" ></td >
                  <td data-th-text="${subject.name}" ></td >
                </tr >
                </tbody >
              </table >
            </div >
          </div >
        </div >
      </div >
    </div >

  </div >
  <!--timeTable-->
  <div class="row" >
    <div class="col text-center" >
      <h3 class="bg-gradient-success text-white text-center p-1" > Time Table</h3 >
    </div >
  </div >
  <div class="row" >
    <div class="container" >
      <table class="table table-striped table-inverse " id="myTable" >
        <thead class="thead-inverse" >
        <tr >
          <th >Index</th >
          <th >Code</th >
          <th >Lesson</th >
          <th >Start Time</th >
          <th >End Time</th >
          <th >Active/Not</th >
        </tr >
        </thead >
        <tbody >
        <tr data-th-each="timeTable, index : ${batchDetail.timeTables}" >
          <td data-th-text="${index.count}" ></td >
          <td data-th-text="${timeTable.code}" ></td >
          <td data-th-text="${timeTable.lesson}" ></td >
          <td data-th-text="${#temporals.format(timeTable.startAt, 'dd-MM-yyyy HH:mm')}" ></td >
          <td data-th-text="${#temporals.format(timeTable.endAt, 'dd-MM-yyyy HH:mm')}" ></td >
          <td data-th-text="${timeTable.liveDead.liveDead}" ></td >
        </tr >
        </tbody >
      </table >
    </div >
  </div >
  <!--batch exam-->
  <div class="row" >
    <div class="col text-center" >
      <h3 class="bg-gradient-success text-white text-center p-1" > Batch Exam</h3 >
    </div >
  </div >
  <div class="row" >
    <div class="container" >
      <table class="table table-striped table-inverse "  >
        <thead class="thead-inverse" >
        <tr >
          <th >Index</th >
          <th >Batch Name</th >
          <th >Subject Name</th >
          <th >Start At</th >
          <th >End At</th >
          <th>View</th>
        </tr >
        </thead >
        <tbody >
        <tr data-th-each="batchExam, index : ${batchDetail.batchExams }" >
          <td data-th-text="${index.count}" ></td >
          <td data-th-text="${batchExam.batch.name}" ></td >
          <td data-th-text="${batchExam.subject.name}" ></td >
          <td data-th-text="${#temporals.format(batchExam.startAt, 'dd-MM-yyyy HH:mm')}" ></td >
          <td data-th-text="${#temporals.format(batchExam.endAt, 'dd-MM-yyyy HH:mm')}" ></td >
          <td >
            <a data-th-if="${#strings.equals(batchExam.examStatus,'DETAIL')}"
               data-th-href="${'/batchExam/view/'+ batchExam.id}" >
              <button type="button" class="btn btn-success" >View</button >
            </a >
          </td >
        </tr >
        </tbody >
      </table >
    </div >
  </div >
</div >
<div class="row container-fluid" >
  <div class="col text-center" >
    <a href="/batch" data-sec-authorize="hasAnyAuthority('ROLE_MANAGER','ROLE_CASHIER','ROLE_SECTION_HEAD')">
      <button type="link" class="btn btn-danger " >Back</button >
    </a >
    <a href="/home" data-sec-authorize="hasAnyAuthority('ROLE_STUDENT')">
      <button type="link" class="btn btn-danger " >Back</button >
    </a >
  </div >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
</body >
</html >
