<!DOCTYPE html>
<html lang="en" >
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Success TimeTable Management</title >
</head >
<body >

<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="row bg-link" >
  <div class="col-4" >

  </div >
  <div class="col-4" >
    <h1 >Time Table Management</h1 >
  </div >
  <div class="col-4" >
    <a href="/timeTable/add" >
      <button class="btn btn-primary" align="center" >New Time</button >
    </a >
  </div >
</div >
<div class="container-fluid" >
  <!--batch details-->
  <div class="row mb-2" >
    <div class="container-fluid" >
      <div class="row" >
        <div class="col text-center" >
          <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample5" role="button"
             aria-expanded="false" aria-controls="multiCollapseExample5" >Batch Detail</a >
        </div >
      </div >
      <div class="row" >
        <div class="col-12" >
          <div class="collapse multi-collapse" id="multiCollapseExample5" >
            <div class="card card-body" >
              <div data-th-replace="~{batch/batch-detail :: batchDetailsFragment}" ></div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div >
  <!--Time Table create-->
  <div class="row mb-2" >
    <div class="container-fluid" >
      <div class="row" >
        <div class="form-group" >
          <label for="subject" >Subject : </label >
          <select type="text" name="" id="subject" class="form-control" required >
            <option value="" >Please Choose</option >
            <option data-th-each="subject : ${subjects}"
                    data-th-value="${subject.id}"
                    data-th-text="${subject.name}" ></option >
          </select >
        </div >
        <div class="form-group" >
          <label for="lesson" >Lesson : </label >
          <input type="text" name="" id="lesson" class="form-control" placeholder="" required >
        </div >
        <div class="form-group" >
          <label for="slotStartDate" >Start Date Time At : </label >
          <div class="form-inline" >
            <input type="date" name="" id="slotStartDate" class="form-control" data-th-value="${date}" placeholder=""
                   required readonly >
            <input type="time" name="" id="slotStartTime" min="08:00" max="17:00" step="900" class="form-control"
                   placeholder="" required >
          </div >
        </div >
        <div class="form-group" >
          <label for="slotEndTime" >End At : </label >
          <div class="form-inline" >
            <input type="time" name="" id="slotEndTime" min="08:00" max="17:00" step="900" class="form-control"
                   placeholder="" required >
          </div >
        </div >
        <div class="form-group" >
          <label for="btnAdd" class="mt-2" ></label >
          <br >
          <button id="btnAdd" class="btn btn-info mt-5 ml-2" >Add</button >
        </div >
      </div >
    </div >
  </div >
</div >
<div class="row" >
  <form action="/timeTable/save" data-th-object="${batch}" method="post" >
    <p class="text-center h3" > Selected Time Slot</p > <span
        data-th-text="${#lists.size(batchDetail.timeTables)}" ></span >
    <div class="w-auto" >
      <table class="table table-hover w-auto" id="timeTableSlotsList" >
        <tr >
          <th >Index</th >
          <th >Batch Name</th >
          <th >Subject Name</th >
          <th >Lesson</th >
          <th >Start At</th >
          <th >End At</th >
          <th >Activity</th >
          <th >Comment</th >
          <th >Modify</th >
        </tr >

        <tr data-th-each="timeTable, index : ${batchDetail.timeTables}" >
          <th >
            <span data-th-id="${'id'+index.index }" data-th-text="${index.count}" ></span >
            <input data-th-id="${'tc'+index.index }" type="text" class="form-control"
                   data-th-name="${'batches.timeTables[__${index.index}__].code'}"
                   data-th-value="${timeTable.code}" required readonly hidden >
            <input data-th-id="${'ti'+index.index }" type="text" class="form-control"
                   data-th-name="${'batches.timeTables[__${index.index}__].id'}"
                   data-th-value="${timeTable.id}" required hidden readonly >
          </th >
          <th >
            <input data-th-id="${'bn'+index.index }" type="text" class="form-control"
                   data-th-value="${timeTable.batch.name}" required readonly >
            <input data-th-id="${'bi'+index.index }" type="text" class="form-control"
                   data-th-name="${'timeTables[__${index.index}__].batch.id'}"
                   data-th-value="${timeTable.batch.id}" required readonly hidden >
          </th >
          <th >
            <input data-th-id="${'sn'+index.index }" type="text" class="form-control"
                   data-th-value="${timeTable.subject.name}" required readonly >
            <input data-th-id="${'si'+index.index }" type="text" class="form-control"
                   data-th-name="${'timeTables[__${index.index}__].batch.id'}"
                   data-th-value="${timeTable.subject.id}" required readonly hidden >
          </th >
          <th >
            <input data-th-id="${'ls'+index.index }" type="text" class="form-control"
                   data-th-name="${'timeTables[__${index.index}__].lesson'}"
                   data-th-value="${timeTable.lesson}" required >
          </th >
          <th >
            <input type="datetime-local" class="form-control startAt"
                   data-th-id="${'sa'+index.index }"
                   data-th-name="${'timeTables[__${index.index}__].startAt'}"
                   data-th-value="${timeTable.startAt}" required readonly >
          </th >
          <th >
            <input type="datetime-local" class="form-control endAt"
                   data-th-id="${'ea'+index.index }"
                   data-th-name="${'timeTables[__${index.index}__].endAt'}"
                   data-th-value="${timeTable.endAt}" required readonly >
          </th >

          <th data-th-if="${!addStatus}" >
            <div class="col" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="liveDead : ${liveDeads}" >
                <input class="custom-control-input" required
                       data-th-name="${'timeTables[__${index.index}__].liveDead'}"
                       data-th-value="${liveDead}"
                       data-th-id="${index.index}+${liveDead}" type="radio"
                       data-th-checked="${liveDead==timeTable.liveDead}" />
                <label class="custom-control-label"
                       data-th-for="${index.index}+${liveDead}"
                       data-th-text="${liveDead.liveDead}" > radio
                </label >
              </div >
            </div >
          </th >
          <th data-th-if="${!addStatus}" >
            <input type="text" class="form-control" data-th-id="${'rm'+index.index }"
                   data-th-name="${'timeTables[__${index.index}__].remark'}"
                   data-th-value="${timeTable.remark}" required >
          </th >
          <th >
            <button type="button" data-th-id="${'rb'+index.index}" class="btn btn-outline-danger"
                    onclick="tableRowRemove(this)" >
              Remove
            </button >
          </th >
        </tr >
      </table >
    </div >
    <!--Button-->
    <div class="form-batch col-md-12 col-sm-12 text-center flex-column " >
      <button id="submit" class="btn btn-success" tabindex="21" type="submit" >
        <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp; &nbsp;<span
            data-th-text="${addStatus==true?'Save': 'Update'}"
      ></span >
      </button >
    </div >
  </form >
</div >

<input type="hidden" data-th-value="${batchDetail.name}" id="batchName" >
<input type="hidden" data-th-value="${batchDetail.startAt}" id="batchStartAt" >
<input type="hidden" data-th-value="${batchDetail.endAt}" id="batchEndAt" >
<input type="hidden" data-th-value="${batchDetail.id}" id="batchId" >

<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script >

    let timeTableSlots = [];

    $(document).ready(function () {
        $('[type="date"]').prop('min', function () {
            return new Date().toJSON().split('T')[0];
        });
        let startDate = $("#batchStartAt").val();
        let endDate = $("#batchEndAtAt").val();
        $("#slotStartDate").attr('min', startDate).attr('max', endDate);

        let tableLength = $("#timeTableSlotsList tr").length;
        if (tableLength > 1) {
            for (let i = 1; i < tableLength; i++) {
                let timeTableSlot = {
                    timeTable_id: $(`#ti${i - 1}`).val(),
                    timeTable_code: $(`#tc${i - 1}`).val(),
                    batch_id: $(`#bi${i - 1}`).val(),
                    batch_name: $(`#bn${i - 1}`).val(),
                    subject_id: $(`#si${i - 1}`).val(),
                    subject_name: $(`#sn${i - 1}`).val(),
                    lesson: $(`#ls${i - 1}`).val(),
                    start_at: $(`#ea${i - 1}`).val(),
                    end_at: $(`#sa${i - 1}`).val(),
                    activity: $(`input[name="timeTables[${i - 1}].liveDead"]`).val(),
                    remark: $(`#rm${i - 1}`).val()
                };
                timeTableSlots.push(timeTableSlot);
            }
        }


    });

    $('[type="datetime-local"]').prop('min', function () {
        return new Date();
    });

    $("#slotStartTime, #slotEndTime").change(function () {
        let slotStartDate = $("#slotStartDate").val();

        let startTime = $("#slotStartTime").val();
        let endTime = $("#slotEndTime").val();
        if (startTime && endTime) {
            let startDateTime = slotStartDate + "T" + startTime;
            let endDateTime = slotStartDate + "T" + endTime;

            if (Date.parse(startDateTime) >= Date.parse(endDateTime)) {
                swal({
                    title: "Could you accept this time period.. !",
                    icon: "warning",
                });
                $("#slotStartTime").addClass("bg-warning");
                $("#slotEndTime").addClass("bg-warning");
            } else {
                $("#slotStartTime").removeClass("bg-warning");
                $("#slotEndTime").removeClass("bg-warning");
            }
        }
    })

    function timeSlotLengthCheck() {
        let slotStartDate = $("#slotStartDate").val();

        let startTime = $("#slotStartTime").val();
        let endTime = $("#slotEndTime").val();
        if (startTime && endTime) {
            let startDateTime = slotStartDate + "T" + startTime;
            let endDateTime = slotStartDate + "T" + endTime;

            if ((Date.parse(endDateTime) - Date.parse(startDateTime)) < 900000) {
                swal({
                    title: "Could you accept this time period.. \n at least 15 min need to for one period!",
                    icon: "warning",
                });
                $("#slotStartTime").addClass("bg-warning");
                $("#slotEndTime").addClass("bg-warning");
                return false;
            } else {
                $("#slotStartTime").removeClass("bg-warning");
                $("#slotEndTime").removeClass("bg-warning");
                return true;
            }
        }
    }


    function addFromValueRemove() {
        $("#subject").val('');
        $("#lesson").val('');
        $("#slotEndTime").val('');
        $("#slotStartTime").val('');
    }

    $("#btnAdd").click(function () {
        if (timeSlotLengthCheck()) {
            let subjectId = $("#subject").val();
            let selectedItemId = `#subject option[value='${subjectId}']`;
            let subjectName = $(selectedItemId).html();
            let lesson = $("#lesson").val();
            let slotStartDate = $("#slotStartDate").val();
            let slotStartTime = $("#slotStartTime").val();
            let startTime = slotStartDate + "T" + slotStartTime;
            let slotEndTime = $("#slotEndTime").val();
            let endTime = slotStartDate + "T" + slotEndTime;
            let batchName = $("#batchName").val();
            let batchId = $("#batchId").val();
            if (subjectId && subjectName && lesson && startTime && endTime && batchName && batchId && slotStartTime && slotEndTime) {
                let timeTableSlot = {};
                timeTableSlot.timeTable_id = '';
                timeTableSlot.timeTable_code = '';
                timeTableSlot.batch_id = batchId;
                timeTableSlot.batch_name = batchName;
                timeTableSlot.subject_id = subjectId;
                timeTableSlot.subject_name = subjectName;
                timeTableSlot.lesson = lesson;
                timeTableSlot.start_at = startTime;
                timeTableSlot.end_at = endTime;
                timeTableSlot.activity = 'ACTIVE';
                timeTableSlot.remark = '';
                timeTableSlots.push(timeTableSlot);
                tableRowAdd();
                addFromValueRemove();
            } else {
                swal({
                    icon: "warning",
                    text: "Please enter all data before click this button",
                });

            }
        }
    });

    function tableRowAdd() {
        deleteAllTableRow(timeTableSlotsList)

        const sortedTimeTableSlots = timeTableSlots.sort((a, b) => Date.parse(b.start_at) - Date.parse(a.start_at))
        let tableRows = '';

        for (let i = 0; i < sortedTimeTableSlots.length; i++) {
            tableRows += makeTableRow(i, sortedTimeTableSlots[i]);
        }

        $("#timeTableSlotsList tr:last").after(tableRows);
        console.log("class after add")
        allTimeTableSlotValidate();
    }


    function allTimeTableSlotValidate() {

        let tableLength = $("#timeTableSlotsList tr").length;
        if (tableLength > 2) {
            for (let i = 0; i < tableLength - 2; i++) {

                let previousEndAt = Date.parse($(`#ea${i}`).val());
                let presentStartAt = Date.parse($(`#sa${i + 1}`).val());

                let previousStartAt = Date.parse($(`#sa${i}`).val());
                let presentEndAt = Date.parse($(`#ea${i + 1}`).val());

                let previousEndPresentStart = previousEndAt - presentStartAt;
                let previousStartPresentEnd = previousStartAt - presentEndAt;

                let logicValue = (Math.sign(previousEndPresentStart) === 1 && Math.sign(previousStartPresentEnd) === 1) || (Math.sign(previousEndPresentStart) === 1 && Math.sign(previousStartPresentEnd) === 0);

                if (!logicValue) {
                    $(`#timeTableSlotsList tr:eq(${i + 1})`).addClass("bg-warning");
                    $(`#timeTableSlotsList tr:eq(${i + 2})`).addClass("bg-warning");
                    swal({
                        icon: "warning",
                        text: "Please remove color changed fields and correct time period",
                    })
                } else {
                    $(`#timeTableSlotsList tr:eq(${i + 1})`).removeClass("bg-warning");
                    $(`#timeTableSlotsList tr:eq(${i + 2})`).removeClass("bg-warning");
                }
            }
        }

        let rowClassArray = [];
        for (let i = 0; i < tableLength; i++) {
            let rowClass = $(`#timeTableSlotsList tr:eq(${i})`).attr('class');
            if (rowClass === 'bg-warning') {
                console.log("asdasdas")
                rowClassArray.push(rowClass);
            }
        }

        if (rowClassArray.includes('bg-warning')) {
            console.log("include")
            $("#submit, #btnAdd").hide();
        } else {
            console.log(" not inclued")
            $("#submit, #btnAdd").show();

        }

    }

    function makeTableRow(index, value) {
        let tableRow = `<tr>
                        <td>
                            <span id="id${index}">${index + 1}</span>
                              <input id="ti${index}" type="text" class="form-control"  name="timeTables[${index}].id" value="${value.timeTable_id}" hidden >
                                <input id="tc${index}" type="text" class="form-control"  name="timeTables[${index}].code" value="${value.timeTable_code}" hidden >
                        </td>
                        <td>
                        <span id="bn${index}" class="w-auto">${value.batch_name}</span>
                            <input id="bi${index}" type="text" class="form-control"  name="timeTables[${index}].batch.id" value="${value.batch_id}" hidden required>
                        </td>
                        <td>
                       <span id="sn${index}" class="w-auto"> ${value.subject_name}</span>
                            <input id="si${index}" type="text" class="form-control" name="timeTables[${index}].subject.id" value="${value.subject_id}" hidden required>
                        </td>
                        <td>
                         <input id="ls${index}" type="text" class="form-control w-auto" name="timeTables[${index}].lesson" value="${value.lesson}" required>
                        </td>
                        <td>
                         <input id="sa${index}" type="datetime-local" class="form-control" name="timeTables[${index}].startAt" value="${value.start_at}" required readonly>
                        </td>
                        <td>
                         <input id="ea${index}" type="datetime-local" class="form-control" name="timeTables[${index}].endAt" value="${value.end_at}" required readonly>
                        </td>
                        <td class="w-auto">
                          <div class="custom-control custom-checkbox custom-control-inline " >
                            <input class="custom-control-input" required   id="${index}+ACTIVE" name="timeTables[${index}].liveDead" value="ACTIVE" type="radio" checked="checked"/>
                            <label class="custom-control-label"  for="${index}+ACTIVE" >Active </label >
                          </div>
                          <div class="custom-control custom-checkbox custom-control-inline " >
                            <input class="custom-control-input" required id="${index}+STOP" name="timeTables[${index}].liveDead" value="STOP" type="radio"/>
                            <label class="custom-control-label" for="${index}+STOP">Deactivate </label >
                          </div >
                        </td>
                        <td>
                         <input id="rm${index}" type="text" class="form-control class="w-auto"" name="timeTables[${index}].remark" value="" >
                        </td>
                        <td>
                            <button type="button" id="rb${index}" class="btn btn-outline-danger" onclick="tableRowRemove(this)">Remove</button>
                        </td>
                    </tr>`;

        return tableRow;
    }

    //table row remove
    function tableRowRemove(obj) {
        let itemIndex = obj.parentNode.parentNode.rowIndex;
        console.log(" item index " + itemIndex)

        deleteTimeTable(itemIndex);

        let removeRow = `#timeTableSlotsList tr:eq(${itemIndex})`
        $(removeRow).remove();

        let tableLength = $("#timeTableSlotsList tr").length;
        if (tableLength > 1) {
            console.log("add tavle")
            tableRowAdd();
        }
    }

    function deleteTimeTable(val) {
        let id = val - 1;
        let timeTableSlot = {
            timeTable_id: '',
            timeTable_code: '',
            batch_id: $(`#bi${id}`).val(),
            batch_name: $(`#bn${id}`).html(),
            subject_id: $(`#si${id}`).val(),
            subject_name: $(`#sn${id}`).html(),
            lesson: $(`#ls${id}`).val(),
            start_at: $(`#sa${id}`).val(),
            end_at: $(`#ea${id}`).val(),
            activity: 'ACTIVE',
            remark: $(`#rm${id}`).val()
        };

        let newTimeTableSlots = [];
        for (let i = 0; i < timeTableSlots.length; i++) {

            let subjectIdComparison = timeTableSlots[i].subject_id === timeTableSlot.subject_id;
            let batchIdComparison = timeTableSlots[i].batch_id === timeTableSlot.batch_id;
            let startDateComparison = Math.sign((Date.parse(timeTableSlots[i].start_at) - Date.parse(timeTableSlot.start_at))) === 0;
            let endDateComparison = Math.sign((Date.parse(timeTableSlots[i].end_at) - Date.parse(timeTableSlot.end_at))) === 0;

            let logicValue = subjectIdComparison && batchIdComparison && startDateComparison && endDateComparison;
            if (!logicValue) {
                let timeTableSlot = {
                    timeTable_id: '',
                    timeTable_code: '',
                    batch_id: timeTableSlots[i].batch_id,
                    batch_name: timeTableSlots[i].batch_name,
                    subject_id: timeTableSlots[i].subject_id,
                    subject_name: timeTableSlots[i].subject_name,
                    lesson: timeTableSlots[i].lesson,
                    start_at: timeTableSlots[i].start_at,
                    end_at: timeTableSlots[i].end_at,
                    activity: timeTableSlots[i].activity,
                    remark: timeTableSlots[i].remark
                };
                newTimeTableSlots.push(timeTableSlot);
            }
        }
        timeTableSlots = newTimeTableSlots;
    }

</script >
</body >
</html >
