<!DOCTYPE html>
<html lang="en" >
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Student Management</title >
</head >
<body >
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid text-center" >
  <div class="row " >
    <div class="col" >
      <a href="/timeTable" >
        <button class="btn btn-info" >Time Table</button >
      </a >
    </div >
    <div class="col" >
      <h3 >Choose Date To Time Table</h3 >
    </div >
    <div class="col" >
      <a href="/batch" >
        <button class="btn btn-primary" >View Batch</button >
      </a >
    </div >
  </div >
</div >


<!--Student search detail-->
<div class="container-fluid" data-th-fragment="timeTableDetail" >
  <div class="container" >
    <form action="/timeTable/add" method="post" >
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="date" >Date:</label >
        </div >
        <div class="col-md-8" >
          <input type="date" name="date" id="date" class="form-control" required />
        </div >
      </div >
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="batch" >Class Name:</label >
        </div >
        <div class="col-md-8" >
          <select type="date" name="id" id="batch" class="form-control" required >
            <option value="" >Please Select</option >
            <option data-th-each="batch : ${batches}" data-th-text="${batch.name}"
                    data-th-value="${batch.id}" ></option >
          </select >
        </div >
      </div >
      <!--Button-->
      <div class="form-batch col-md-12 col-sm-12 text-center flex-column " >
        <button class="btn btn-success" tabindex="21" type="submit" >
          Send
        </button >
      </div >
    </form >
  </div >
  <div class="row" >
    <div class="col" >
      [[${message}]]
    </div >
  </div >
</div >
<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script >
    $(document).ready(function () {
        let date = new Date();
        $('[type="date"]').prop('min', function () {
            console.log(date)
            return date.toJSON().split('T')[0];
        }).prop('max', function () {
            let futureDate = date.setDate(date.getDate() + 30);
            console.log(futureDate);
            return futureDate;
        })
    });
</script >
</body >
</html >
